<div class="form-module summary-panel">
	<div class="summary">
		<div class="sheetLogo">
		</div>
		<div class="content">
			<div class="sheetType"><span data-attach-point="taskName"></span></div>
			<div class="sheetInfo">
				<span>
					<label>申请单号:</label>
					<span data-attach-point="sheetId"></span> 
				</span>
				<span class="margin-span"></span>				
				<span>
					<label>申请人:</label>
					<span data-attach-point="applierName"></span> 
				</span>
				<span class="margin-span"></span>
				<span>
					<label>提交时间:</label>
					<span data-attach-point="applyTime"></span>
				</span>
				
			</div>		
		</div>	
	</div>
	<div class="toolbar"></div>
</div>