<div class="form-module summary-panel">
	<div class="summary">
		<div class="sheetLogo">
		</div>
		<div class="content">
			<div class="sheetType"><span data-attach-point="sheetTypeSpan"></span></div>
			<div class="sheetInfo" data-attach-point="sheetInfo">
				<label>模板号：</label><span data-attach-point="codeSpan"></span>
				<label>版本号：</label><span data-attach-point="versionSpan"></span>
				<label>创建日期：</label><span data-attach-point="createDateSpan"></span> 
				<label>状态：</label><span data-attach-point="statusSpan"></span> 
			</div>		
		</div>	
	</div>
	<div class="toolbar"></div>
</div>