<div class="datagrid-toolbar-tool"></div>
<div class="datagrid-toolbar-filter" style="display: none;">
	<div class="criteria-panel">
		<form data-attach-point="searchForm">
			<div class="fitem">
				<label>用户名</label>
				<input name="userName" type="text" maxlength="50" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>资源代码，即业务ID</label>
				<input name="userId" type="text" maxlength="50" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>密码</label>
				<input name="password" type="text" maxlength="50" class="easyui-validatebox">
			</div>
      </form>		
	</div>
</div>