<div class="datagrid-toolbar-tool"></div>
<div class="datagrid-toolbar-filter"
	style="display: none; height: 65px;">
	<div class="criteria-panel">
		<div>
			<label>模版代码：</label> <input class="easyui-validatebox"
				data-attach-point="code" />
		</div>
		<div>
			<label>模版名字：</label> <input class="easyui-validatebox"
				data-attach-point="name" />
		</div>
		<div>
			<label>系统代码：</label>
			<input class="easyui-combobox" data-attach-point="systemNamecombobox"   editable="false" />
		</div>
		<div>
			<label>状态：</label>
			<input class="easyui-combobox" data-attach-point="statuscombobox"   editable="false" />
		</div>
		
	</div>
</div>