<div class="datagrid-toolbar-tool"></div>
<div class="datagrid-toolbar-filter" style="height:75px;">
	<div class="criteria-panel" >
		<div>
			<label>执行人姓名:</label> <input class="easyui-validatebox"
				data-attach-point="actorname" />
		</div>
		<div>
			<label>操作类型:</label> 
			<input class="easyui-combobox" editable="false"  data-attach-point="operationtypecombobox">
		</div>
		<div>
			<label>目标类型:</label> 
			<input class="easyui-combobox" editable="false"  data-attach-point="targettypecombobox">
		</div>
		<div>
			<label>启动时间:</label> <input class="easyui-datebox"
				data-attach-point="createtimedatebox" />
		</div>
		<div>
			<label> 至:</label> <input class="easyui-datebox"
				data-attach-point="findCreatetimedatebox" />
		</div>
	</div>
</div>