<div class="datagrid-toolbar-tool"></div>
<div class="datagrid-toolbar-filter" style="display: none; height:45px;">
	<div class="criteria-panel" >
		<form data-attach-point="searchForm">
		<div class="fitem">
			<label>编码：</label> <input class="easyui-validatebox"	   maxlength="128"  data-attach-point="ipt_code" />
		</div>	
		<div class="fitem">
			<label >所属子系统：</label> <input class="easyui-combobox" style="width:132px"   editable="false"  data-attach-point="ipt_paramSubSystem">
		</div>
		</form>
	</div>
</div>