<div class="datagrid-toolbar-tool"></div>
<!-- 
<div class="datagrid-toolbar-filter" style="display: none; height:45px;">
	<div class="criteria-panel" >
		<div>
			<label>代码：</label> <input class="easyui-validatebox"	   maxlength="128"  data-attach-point="ipt_code" />
		</div>	
		<div>
			<label>名称：</label> <input class="easyui-validatebox"	   maxlength="128"  data-attach-point="ipt_name" />
		</div>	
		<div>
			<label >所属子系统：</label> <input class="easyui-combobox" style="width:132px"   editable="false"  data-attach-point="ipt_paramSubSystem">
		</div>
	</div>
</div>
 -->