<div class="datagrid-toolbar-tool"></div>
<div class="datagrid-toolbar-filter" style="display:none;height:65px;">
	<div class="criteria-panel" >
		<div>
			<label>用户姓名:</label> <input class="easyui-validatebox"
				data-attach-point="name" />
		</div>
		<div>
			<label>接管人姓名:</label> 
			<input class="easyui-validatebox" editable="false"  data-attach-point="takeovername">
		</div>
		
		<div>
			<label>开始时间:</label> <input class="easyui-datebox"
				data-attach-point="starttime" />
		</div>
		<div>
			<label> 结束时间:</label> <input class="easyui-datebox"
				data-attach-point="endtime" />
		</div>
	</div>
</div>