<div class="datagrid-toolbar-tool"></div>
<div class="datagrid-toolbar-filter" style="display: none; ">
	<div class="criteria-panel" >
		<form data-attach-point="searchForm">
			<div class="fitem">
				<label>参数英文名：</label> 
				<input class="easyui-validatebox"	data-options="max:999999999999"   maxlength="12"  data-attach-point="ipt_paramEngName" />
			</div>	
			<div class="fitem">
				<label>参数值：</label> 
				<input class="easyui-validatebox"	data-options="max:99999999"   maxlength="8"  data-attach-point="ipt_paramValue" />
			</div>	
			<div class="fitem">
				<label >所属子系统：</label> 
				<input class="easyui-combobox"   editable="false"  data-attach-point="ipt_paramSubSystem">
			</div>
		</form>
	</div>
</div>