<div class="datagrid-toolbar-tool"></div>

<div class="datagrid-toolbar-filter" style="display: none; height:45px;">
	<div class="criteria-panel" >
		<form data-attach-point="searchForm">
			<div class="fitem">
				<label>任务中文名称：</label> <input class="easyui-validatebox"	   maxlength="128"  data-attach-point="ipt_name" />
			</div>	
			<div class="fitem">
				<label>任务英文名称：</label> <input class="easyui-validatebox"	   maxlength="128"  data-attach-point="ipt_code" />
			</div>	
			<div class="fitem">
				<label>流程名称：</label> <input class="easyui-validatebox"	   maxlength="128"  data-attach-point="ipt_processname" />
			</div>
		</form>	
	</div>
</div>
 