<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.td.common.dao.SysAttachmentDao" > 
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.td.common.entity.SysAttachment" >
	<result column="id" property="id"/>
	<result column="name" property="name"/>
	<result column="type" property="type"/>
	<result column="description" property="description"/>
	<result column="path" property="path"/>
	<result column="submit_user_umid" property="submitUserUmId"/>
	<result column="submit_user_name" property="submitUserName"/>
	<result column="swf_path_name" property="swfPathName"/>
	<result column="swf_name" property="swfName"/>
	<result column="attr1" property="attr1"/>
	<result column="attr2" property="attr2"/>
	<result column="attr3" property="attr3"/>
	<result column="mtime" property="mtime"/>
	<result column="ctime" property="ctime"/>
  </resultMap>
       
  <!-- SYS_ATTACHMENT table all fields -->
  <sql id="Base_Column_List" >
	 id,name,type,description,path,submit_user_umid,submit_user_name,swf_path_name,swf_name,attr1,attr2,attr3,mtime,ctime
  </sql>
   
  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
	      <if test="id != null and id != ''" >
        and id =  #{id}
	  </if>
	      <if test="name != null and name != ''" >
        and name =  #{name}
	  </if>
	      <if test="type != null and type != ''" >
        and type =  #{type}
	  </if>
	      <if test="description != null and description != ''" >
        and description =  #{description}
	  </if>
	      <if test="path != null and path != ''" >
        and path =  #{path}
	  </if>
	      <if test="submitUserUmId != null and submitUserUmId != ''" >
        and submit_user_umid =  #{submitUserUmId}
	  </if>
	      <if test="submitUserName != null and submitUserName != ''" >
        and submit_user_name =  #{submitUserName}
	  </if>
	   <if test="swfPathName != null and swfPathName != ''" >
        and swf_path_name =  #{swfPathName}
	  </if>
	   <if test="swfName != null and swfName != ''" >
        and swf_name =  #{swfName}
	  </if>
	      <if test="attr1 != null and attr1 != ''" >
        and attr1 =  #{attr1}
	  </if>
	      <if test="attr2 != null and attr2 != ''" >
        and attr2 =  #{attr2}
	  </if>
	      <if test="attr3 != null and attr3 != ''" >
        and attr3 =  #{attr3}
	  </if>
	      <if test="mtime != null and mtime != ''" >
        and mtime =  #{mtime}
	  </if>
	      <if test="ctime != null and ctime != ''" >
        and ctime =  #{ctime}
	  </if>
    </trim>
  </sql>
   
  <!-- 插入记录 -->
  <insert id="insert" parameterType="Object" useGeneratedKeys="true" keyProperty="id">
    insert into SYS_ATTACHMENT(id,name,type,description,path,submit_user_umid,submit_user_name,swf_path_name,swf_name,attr1,attr2,attr3,mtime,ctime)
 	values(#{id},#{name},#{type},#{description},#{path},#{submitUserUmId},#{submitUserName},#{swfPathName},#{swfName},#{attr1},#{attr2},#{attr3},#{mtime},#{ctime})
  </insert>
  
   <insert id="insertSelective" parameterType="com.td.common.entity.SysAttachment" useGeneratedKeys="true" keyProperty="id">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Sep 09 14:55:43 CST 2013.
    -->
    insert into SYS_ATTACHMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="submitUserUmId != null" >
        submit_user_umid,
      </if>
      <if test="submitUserName != null" >
        submit_user_name,
      </if>
        <if test="swfPathName != null" >
        swf_path_name,
      </if>
        <if test="swfName != null" >
        swf_name,
      </if>
      <if test="mtime != null" >
        MTime,
      </if>
      <if test="ctime != null" >
        CTime,
      </if>
      <if test="attr1 != null">
        attr1,
      </if>
      <if test="attr2 != null">
        attr2,
      </if>
      <if test="attr3 != null">
        attr3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="submitUserUmId != null" >
        #{submitUserUmId,jdbcType=VARCHAR},
      </if>
      <if test="submitUserName != null" >
        #{submitUserName,jdbcType=VARCHAR},
      </if>
      <if test="swfPathName != null" >
        #{swfPathName,jdbcType=VARCHAR},
      </if>
       <if test="swfName != null" >
        #{swfName,jdbcType=VARCHAR},
      </if>
      <if test="mtime != null" >
        #{mtime,jdbcType=TIMESTAMP},
      </if>
      <if test="ctime != null" >
        #{ctime,jdbcType=TIMESTAMP},
      </if>
      <if test="attr1 != null">
        #{attr1,jdbcType=VARCHAR},
      </if>
      <if test="attr2 != null">
        #{attr2,jdbcType=VARCHAR},
      </if>
      <if test="attr3 != null">
        #{attr3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!-- 根据id，修改记录-->  
  <update id="updateByPrimaryKey" parameterType="Object" >
    update SYS_ATTACHMENT set name=#{name},type=#{type},description=#{description},path=#{path},submit_user_umid=#{submitUserUmId},submit_user_name=#{submitUserName},swf_path_name=#{swfPathName},swf_name=#{swfName},attr1=#{attr1},attr2=#{attr2},attr3=#{attr3},mtime=#{mtime},ctime=#{ctime} where id=#{id}
  </update>
 
  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="Object" >
    update SYS_ATTACHMENT set 
	<trim  suffixOverrides="," >
	<if test="name != null  ">
		name=#{name},
	</if>
	<if test="type != null  ">
		type=#{type},
	</if>
	<if test="description != null  ">
		description=#{description},
	</if>
	<if test="path != null  ">
		path=#{path},
	</if>
	<if test="submitUserUmId != null  ">
		submit_user_umid=#{submitUserUmId},
	</if>
	<if test="submitUserName != null  ">
		submit_user_name=#{submitUserName},
	</if>
	<if test="swfPathName != null  ">
		swf_path_name=#{swfPathName},
	</if>
	<if test="swfName != null  ">
		swf_name=#{swfName},
	</if>
	<if test="attr1 != null  ">
		attr1=#{attr1},
	</if>
	<if test="attr2 != null  ">
		attr2=#{attr2},
	</if>
	<if test="attr3 != null  ">
		attr3=#{attr3},
	</if>
	<if test="mtime != null  ">
		mtime=#{mtime},
	</if>
	<if test="ctime != null  ">
		ctime=#{ctime},
	</if>
	</trim> where id=#{id}
  </update>
 
  <!-- 根据id查询 附件 -->
  <select id="selectByPrimaryKey"  resultMap="BaseResultMap" parameterType="Object">
    select <include refid="Base_Column_List" /> 
	 from SYS_ATTACHMENT where id = #{id}
  </select>
  
  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="Object">
    delete 	 from SYS_ATTACHMENT where id = #{id}
  </delete>
  
  <!-- 附件 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from SYS_ATTACHMENT 
	<include refid="Base_Where_Clause"/>
	<if test="typeArray != null and typeArray != ''">
		and type in
		<foreach collection="typeArray" open="(" separator="," close=")" item="item">
			 #{item}
		</foreach>
	</if>
  </select>
  	
  <!-- 查询附件列表 -->
  <select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from SYS_ATTACHMENT 
	<include refid="Base_Where_Clause"/>
	<if test="typeArray != null and typeArray != ''">
		and type in
		<foreach collection="typeArray" open="(" separator="," close=")" item="item">
			 #{item}
		</foreach>
	</if>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
  </select>
  
</mapper> 
