<div class="datagrid-toolbar-tool"></div>
<div class="datagrid-toolbar-filter" style="display: none;">
	<div class="criteria-panel">
		<form data-attach-point="searchForm">
			<div class="fitem">
				<label>属性代码</label>
				<input name="code" type="text" maxlength="40" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>属性名</label>
				<input name="name" type="text" maxlength="40" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>属性描述</label>
				<input name="description" type="text" maxlength="40" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>属性默认值</label>
				<input name="defaultValue" type="text" maxlength="40" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>属性类型</label>
				<input name="type" type="text" maxlength="40" class="easyui-combobox" data-attach-point="extendedAttriTypeCombobox">
			</div>
			
      </form>		
	</div>
</div>