<div class="datagrid-toolbar-tool"></div>
<div class="datagrid-toolbar-filter" style="display: none;">
	<div class="criteria-panel">
		<form data-attach-point="searchForm">
			<div class="fitem">
				<label>ip</label>
				<input name="ip" type="text" maxlength="" class="easyui-numberbox">
			</div>
			<div class="fitem">
				<label>端口号</label>
				<input name="port" type="text" maxlength="8" class="easyui-numberbox">
			</div>
			<div class="fitem">
				<label>类型</label>
				<input name="type" type="text" maxlength="8" class="easyui-combobox" data-options="editable:false">
			</div>
      </form>		
	</div>
</div>