<div class="datagrid-toolbar-tool"></div>
<div class="datagrid-toolbar-filter" style="display: none;">
	<div class="criteria-panel">
		<form data-attach-point="searchForm">
			<div class="fitem">
				<label>类别名称</label>
				<input name="name" type="text" maxlength="64" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>编码</label>
				<input name="code" type="text" maxlength="256" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>状态</label>
				<input name="status" type="text" maxlength="256"  data-options="editable:false"  class="easyui-combobox" data-attach-point="statusCombobox">
			</div>
			<div class="fitem">
				<label>类型</label>
				<input name="type" type="text" maxlength="256"  data-options="editable:false"  class="easyui-combobox" data-attach-point="typeCombobox">
			</div>
      </form>		
	</div>
</div>