<div class="datagrid-toolbar-tool"></div>
<div class="datagrid-toolbar-filter" style="display: none;">
	<div class="criteria-panel">
		<form data-attach-point="searchForm">
			<div class="fitem">
				<label>创建时间</label>
				<input name="ctime" type="text" maxlength=""  editable="false" class="easyui-datetimebox">
			</div>
			<div class="fitem">
				<label>修改时间</label>
				<input name="mtime" type="text" maxlength=""  editable="false" class="easyui-datetimebox">
			</div>
      </form>		
	</div>
</div>