<div class="datagrid-toolbar-tool"></div>
<div class="datagrid-toolbar-filter" style="display: none;">
	<div class="criteria-panel">
		<form data-attach-point="searchForm">
			<div class="fitem" >
				<label style="width:70px;">模板编号 </label>
				<input name="templateCode" type="text" maxlength="" class="easyui-validatebox">
			</div>
			<div class="fitem" >
				<label style="width:70px;">版本号 </label>
				<input name="version" type="text" maxlength="" class="easyui-validatebox">
			</div>
			<div class="fitem" >
				<label style="width:70px;">媒体来源 </label>
				<input name="mediaSource" type="text" maxlength="" class="easyui-combobox" data-attach-point="mediaSourceCombobox">
			</div>
			<div class="fitem" >
				<label style="width:70px;">站点地址 </label>
				<input name="url" type="text" maxlength="20" class="easyui-validatebox" data-options="editable: false"  >
			</div>
			<div class="fitem" >
				<label style="width:70px;">站点名字  </label>
				<input name="urlName" type="text" maxlength="20" class="easyui-validatebox" data-options="editable: false"  >
			</div>
			<div class="fitem" >
				<label style="width:70px;">站点编码  </label>
				<input name="urlCode" type="text" maxlength="20" class="easyui-validatebox" data-options="editable: false"  >
			</div>
			<div class="fitem" >
				<label style="width:70px;">生效时间 </label>
				<input name="effectDate" type="text" maxlength="20" class="easyui-datebox" data-options="editable: false" data-attach-point="effectDateInfo">
			</div>
			<div class="fitem" >
				<label style="width:70px;">失效时间  </label>
				<input name="expiryDate" type="text" maxlength="20" class="easyui-datebox" data-options="editable: false" data-attach-point="expiryDateInfo">
			</div>
			<div class="fitem" >
				<label style="width:70px;">状态 </label>
				<input name="status" type="text" maxlength="20" class="easyui-combobox" data-options="editable: false"  data-attach-point="statusCombobox" >
			</div>
      </form>		
	</div>
</div>
