<div class="datagrid-toolbar-tool"></div>
<div class="datagrid-toolbar-filter" style="display: none;">
	<div class="criteria-panel">
		<form data-attach-point="searchForm">
			<div class="fitem">
				<label>名称</label>
				<input name="name" type="text" maxlength="256" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>代码</label>
				<input name="code" type="text" maxlength="256" class="easyui-validatebox">
			</div>
			<!-- <div class="fitem">
				<label>类型</label>
				<input name="type" type="text" maxlength="256" class="easyui-combobox"  data-options="editable:false"  data-attach-point="typeCombobox">
			</div>
			<div class="fitem">
				<label>是否映射</label>
				<input name="isMapping" type="text" maxlength="256" class="easyui-combobox"  data-options="editable:false"  data-attach-point="isMappingCombobox">
			</div> -->
			<div class="fitem">
				<label>映射名称</label>
				<input name="mappingName" type="text" maxlength="256" class="easyui-validatebox" >
			</div>
			<div class="fitem">
				<label>描述</label>
				<input name="description" type="text" maxlength="256" class="easyui-validatebox">
			</div>
      </form>		
	</div>
</div>