<div class="datagrid-toolbar-tool"></div>
<div class="datagrid-toolbar-filter" style="display: none;">
	<div class="criteria-panel">
		<form data-attach-point="searchForm">
			<div class="fitem">
				<label>名称 </label>
				<input name="name" type="text" maxlength="40" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>代码  </label>
				<input name="code" type="text" maxlength="40" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>分隔符</label>
				<input name="separatorChar" type="text" maxlength="2" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>文件解析处理类名</label>
				<input name="processClassName" type="text" maxlength="256" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>目标类型</label>
				<input name="toType" type="text" maxlength="16" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>目标表</label>
				<input name="toTable" type="text" maxlength="32" class="easyui-validatebox">
			</div>
			<!-- <div class="fitem">
				<label>扩展属性</label>
				<input name="attr1" type="text" maxlength="256" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>扩展属性</label>
				<input name="attr2" type="text" maxlength="256" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>扩展属性</label>
				<input name="attr3" type="text" maxlength="256" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>扩展属性</label>
				<input name="attr4" type="text" maxlength="256" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>扩展属性</label>
				<input name="attr5" type="text" maxlength="256" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>扩展属性</label>
				<input name="attr6" type="text" maxlength="256" class="easyui-validatebox">
			</div> -->
      </form>		
	</div>
</div>