<div class="datagrid-toolbar-tool"></div>
<div class="datagrid-toolbar-filter" style="display: none;">
	<div class="criteria-panel">
		<form data-attach-point="searchForm">
			<div class="fitem">
				<label>Hadoop任务Id</label>
				<input name="jobId" type="text" maxlength="40" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>任务名</label>
				<input name="taskName" data-attach-point="taskNameCombobox" type="text" maxlength="40" class="easyui-combobox">
			</div>
			<div class="fitem">
				<label>任务类型</label>
				<input name="jobType" data-attach-point="jobTypeCombobox" type="text" maxlength="40" class="easyui-combobox">
			</div>
      </form>
	</div>
</div>