<div class="datagrid-toolbar-tool"></div>
<div class="datagrid-toolbar-filter" style="display: none;">
	<div class="criteria-panel">
		<form data-attach-point="searchForm">
			<div class="fitem">
				<label>脚本名称</label>
				<input name="scriptName" type="text" maxlength="40" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>脚本代码</label>
				<input name="scriptCode" type="text" maxlength="40" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>脚本类型</label>
				<input name="type"   editable="false"  data-attach-point="scriptJobType" type="text" maxlength="4" class="easyui-combobox">
			</div>
			<div class="fitem">
				<label>脚本运行周期</label>
				<input name="scriptInfoInterval" type="text" maxlength="40" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>服务器代码</label>
				<input name="serverCode" type="text" maxlength="40" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>子系统</label>
				<input name="systemName" type="text" data-attach-point="systemNameCombobox" maxlength="60" class="easyui-validatebox">
			</div>
      </form>		
	</div>
</div>