<div class="datagrid-toolbar-tool"></div>
<div class="datagrid-toolbar-filter" style="display: none;">
	<div class="criteria-panel">
		<form data-attach-point="searchForm">
			<div class="fitem">
				<label>脚本名称</label>
				<input name="scriptName" type="text" maxlength="40" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>脚本代码</label>
				<input name="scriptCode" type="text" maxlength="40" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>脚本类型</label>
				<input name="type" data-attach-point="scriptTypeInput" type="text" maxlength="4" class="easyui-combobox">
			</div>
<!--
			<div class="fitem">
				<label>目标日期</label>
				<input name="targetDate" type="text" maxlength="40" class="easyui-validatebox">
			</div>
 -->
			<div class="fitem">
				<label>开始时间</label>
				<input name="beginTime" type="text" maxlength="" class="easyui-datebox">
			</div>
			<div class="fitem">
				<label>完成时间</label>
				<input name="endTime" type="text" maxlength="" class="easyui-datebox">
			</div>
      </form>		
	</div>
</div>