<div class="datagrid-toolbar-tool"></div>
<div class="datagrid-toolbar-filter" style="display: none;">
	<div class="criteria-panel">
		<form data-attach-point="searchForm">
			<div class="fitem">
				<label>脚本名称</label> <input name="scriptName" type="text" maxlength="40" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>脚本类型</label> <input name="type"   data-attach-point="typeCombobox"  type="text" maxlength="4" class="easyui-combobox">
			</div>
<!-- 			
			<div class="fitem">
				<label>目标日期</label> <input name="targetDate" type="text" maxlength="40" class="easyui-validatebox">
			</div>
-->
			<div class="fitem">
				<label>步骤开始时间</label> <input name="beginTime" type="text" maxlength="" class="easyui-datetimebox">
			</div>
			<div class="fitem">
				<label>步骤完成时间</label> <input name="endTime"   size="22" type="text" maxlength="" class="easyui-datetimebox">
			</div>
			<div class="fitem">
				<label>描述</label> <input name="description" type="text" maxlength="5120" class="easyui-validatebox">
			</div>
		</form>
	</div>
</div>