<div class="datagrid-toolbar-tool"></div>
<div class="datagrid-toolbar-filter" style="display: none;">
	<div class="criteria-panel">
		<form data-attach-point="searchForm">
			<div class="fitem">
				<label>服务器名称</label>
				<input name="name" type="text" maxlength="40" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>登录SSH用户名</label>
				<input name="userName" type="text" maxlength="10" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>服务器代码</label>
				<input name="code" type="text" maxlength="10" class="easyui-validatebox">
			</div>
      </form>		
	</div>
</div>