<div class="datagrid-toolbar-tool"></div>
<div class="datagrid-toolbar-filter" style="display: none;">
	<div class="criteria-panel">
		<form data-attach-point="searchForm">
			<div class="fitem">
				<label>任务id</label> <input name="jobId" type="text" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>目标日期</label> <input name="targetDate" type="text" class="easyui-datebox">
			</div>
			<div class="fitem">
				<label>结算类别</label> <input name="categoryCode" type="text" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>处理类名</label> <input name="className" type="text" class="easyui-validatebox">
			</div>
		</form>
	</div>
</div>