
<div class="datagrid-toolbar-tool"></div>
<div class="datagrid-toolbar-filter" style="display: none">
	<div class="criteria-panel">
		<div>
			<label>身份证：</label>
			<input class="easyui-validatebox" required="true" data-attach-point="sex"/>
		</div>
		<div>
			<label>姓名：</label>
			<input class="easyui-validatebox" data-attach-point="name"/>
		</div>
		<div>
			<label>住址：</label>
			<input class="easyui-validatebox" data-attach-point="sex"/>
		</div>
		<div>
			<label>性别：</label>
			<input class="easyui-validatebox" data-attach-point="sex"/>
		</div>
		<div>
			<label>身份证：</label>
			<input class="easyui-validatebox" required="true" data-attach-point="sex"/>
		</div>
		<div>
			<label>姓名：</label>
			<input class="easyui-validatebox" data-attach-point="name"/>
		</div>
		<div>
			<label>住址：</label>
			<input class="easyui-validatebox" data-attach-point="sex"/>
		</div>
		<div>
			<label>性别：</label>
			<input class="easyui-validatebox" data-attach-point="sex"/>
		</div>
	</div>
	<div class="button-panel">
		<div class="easyui-linkbutton" data-attach-point="sex">搜索</div>
		<div class="easyui-linkbutton" data-attach-point="sex">重置</div>
	</div>
</div>