<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ZFramework Demo</title>
    <style type="text/css">
    
		.datagrid-toolbar-filter {
		    padding: 5px;
		}
		.datagrid-toolbar-filter .button-panel {
			border-left: 1px solid #D9D9D9;
			padding-left: 28px;
		}
    	
		.button-panel {
		    display: inline-block;
		    position: absolute;
		    right: 30px;
		}
		
		.criteria-panel {
		    display: inline-block;
		    float: left;
		    position: absolute;
		    width: 95%;
		}
    	.criteria-panel div {
    		padding-top: 5px;
    		display:inline-block;
    	}
    </style>
</head>
<body>


<div class="datagrid-toolbar-filter">
	<div class="criteria-panel">
		<div>
			<label>姓名</label>
			<input type="text">
		</div>
		<div>
			<label>姓名</label>
			<input type="text">
		</div>
		<div>
			<label>姓名</label>
			<input type="text">
		</div>
		<div>
			<label>姓名</label>
			<input type="text">
		</div>
		<div>
			<label>姓名</label>
			<input type="text">
		</div>
		<div>
			<label>姓名</label>
			<input type="text">
		</div>
		<div>
			<label>姓名</label>
			<input type="text">
		</div>
	
	</div>
	
	<div class="button-panel">
		<div>
			<input type="button" value="搜索"/>
		</div>
		<div>
			<input type="button" value="搜索"/>		
		</div>
	</div>
</div>

</body>
</html>
