<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.td.proxy.dao.admin.RuleConfigDefinitionDao">
	<!-- Result Map -->
	<resultMap id="BaseResultMap" type="com.td.proxy.entity.admin.RuleConfigDefinition">
		<result column="id" property="id" />
		<result column="code" property="code" />
		<result column="rule_def_id" property="ruleDefId" />
		<result column="content" property="content" />
		<result column="description" property="description" />
		<result column="c_time" property="ctime" />
		<result column="m_time" property="mtime" />
	</resultMap>

	<!-- STL_RULE_CONFIG_DEFINITION table all fields -->
	<sql id="Base_Column_List">
		id,code,rule_def_id,content,description,c_time,m_time
	</sql>

	<!-- 查询条件 -->
	<sql id="Base_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			<if test="code != null and code != ''">
				and code like CONCAT('%',#{code},'%')
			</if>
			<if test="ruleDefId != null and ruleDefId != ''">
				and rule_def_id = #{ruleDefId}
			</if>
			<if test="content != null and content != ''">
				and content like CONCAT('%',#{content},'%')
			</if>
			<if test="description != null and description != ''">
				and description like CONCAT('%',#{description},'%')
			</if>
			order by c_time desc
		</trim>
	</sql>

	<!-- 插入记录 -->
	<insert id="insert" parameterType="Object">
		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into
		SYS_RULE_CONFIG_DEFINITION(id,code,rule_def_id,content,description,c_time,m_time)
		values(#{id},#{code},#{ruleDefId},#{content},#{description},#{ctime},#{mtime})
	</insert>

	<!-- 根据id，修改记录 -->
	<update id="updateByPrimaryKey" parameterType="Object">
		update SYS_RULE_CONFIG_DEFINITION set
		code=#{code},rule_def_id=#{ruleDefId},content=#{content},description=#{description},c_time=#{ctime},m_time=#{mtime}
		where id=#{id}
	</update>

	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateByPrimaryKeySelective" parameterType="Object">
		update SYS_RULE_CONFIG_DEFINITION set
		<trim suffixOverrides=",">
			<if test="code != null  ">
				code=#{code},
			</if>
			<if test="ruleDefId != null  ">
				rule_def_id=#{ruleDefId},
			</if>
			<if test="content != null  ">
				content=#{content},
			</if>
			<if test="description != null  ">
				description=#{description},
			</if>
			<if test="ctime != null  ">
				c_time=#{ctime},
			</if>
			<if test="mtime != null  ">
				m_time=#{mtime},
			</if>
		</trim>
		where id=#{id}
	</update>

	<!-- 根据id查询 规则配置定义 -->
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from SYS_RULE_CONFIG_DEFINITION where id = #{id}
	</select>


	<select id="findRuleConfigDefinition" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(1) from SYS_RULE_CONFIG_DEFINITION where code
		= #{code} and
		rule_def_id=#{ruleDefId}
	</select>

	<!-- 删除记录 -->
	<delete id="deleteByPrimaryKey" parameterType="Object">
		delete from SYS_RULE_CONFIG_DEFINITION where id = #{id}
	</delete>

	<!-- 规则配置定义 列表总数 -->
	<select id="queryByCount" resultType="java.lang.Integer" parameterType="Object">
		select count(1) from SYS_RULE_CONFIG_DEFINITION
		<include refid="Base_Where_Clause" />
	</select>

	<!-- 查询规则配置定义列表 -->
	<select id="queryByList" resultMap="BaseResultMap" parameterType="Object">
		select
		<include refid="Base_Column_List" />
		from SYS_RULE_CONFIG_DEFINITION
		<include refid="Base_Where_Clause" />
		<if test="pager.orderCondition != null and pager.orderCondition != ''">
			${pager.orderCondition}
		</if>
		<if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''">
			${pager.mysqlQueryCondition}
		</if>
	</select>

</mapper>   
