<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.td.proxy.dao.task.TaskCheckRequestProcessJobInputDao" > 
  <!-- Result Map-->
  <resultMap id="BaseResultMap" type="com.td.proxy.entity.task.TaskCheckRequestProcessJobInput" >
	<result column="id" property="id"/>
	<result column="partner_id" property="partnerId"/>
	<result column="partnerFullName" property="partnerFullName"/>
	<result column="status" property="status"/>
	<result column="c_time" property="cTime"/>
	<result column="m_time" property="mTime"/>
  </resultMap>
       
  <!-- TDP_TASK_CHECK_REQUEST_PROCESS_JOB_INPUT table all fields -->
  <sql id="Base_Column_List" >
	 id,partner_id,partnerFullName,status,c_time,m_time
  </sql>
   
  <!-- 查询条件 -->
  <sql id="Base_Where_Clause">
    where 1=1
    <trim suffixOverrides="," >
	      <if test="id != null and id != ''" >
        and id =  #{id}
	  </if>
	      <if test="partnerId != null and partnerId != ''" >
        and partner_id =  #{partnerId}
	  </if>
	      <if test="partnerFullName != null and partnerFullName != ''" >
        and partnerFullName =  #{partnerFullName}
	  </if>
	      <if test="status != null and status != ''" >
        and status =  #{status}
	  </if>
	      <if test="cTime != null and cTime != ''" >
        and c_time =  #{cTime}
	  </if>
	      <if test="mTime != null and mTime != ''" >
        and m_time =  #{mTime}
	  </if>
    </trim>
  </sql>
   
  <!-- 插入记录 -->
  <insert id="insert" parameterType="Object" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
	  SELECT LAST_INSERT_ID()
    </selectKey>
    insert into TDP_TASK_CHECK_REQUEST_PROCESS_JOB_INPUT(id,partner_id,partnerFullName,status,c_time,m_time)
 values(#{id},#{partnerId},#{partnerFullName},#{status},#{cTime},#{mTime})
  </insert>

  <!-- 根据id，修改记录-->  
  <update id="updateByPrimaryKey" parameterType="Object" >
    update TDP_TASK_CHECK_REQUEST_PROCESS_JOB_INPUT set partner_id=#{partnerId},partnerFullName=#{partnerFullName},status=#{status},c_time=#{cTime},m_time=#{mTime} where id=#{id}
  </update>
 
  <!-- 修改记录，只修改只不为空的字段 -->
  <update id="updateByPrimaryKeySelective" parameterType="Object" >
    update TDP_TASK_CHECK_REQUEST_PROCESS_JOB_INPUT set 
	<trim  suffixOverrides="," >
	<if test="partnerId != null  ">
		partner_id=#{partnerId},
	</if>
	<if test="partnerFullName != null  ">
		partnerFullName=#{partnerFullName},
	</if>
	<if test="status != null  ">
		status=#{status},
	</if>
	<if test="cTime != null  ">
		c_time=#{cTime},
	</if>
	<if test="mTime != null  ">
		m_time=#{mTime},
	</if>
	</trim> where id=#{id}
  </update>
 
  <!-- 根据id查询 请求文件检查任务 -->
  <select id="selectByPrimaryKey"  resultMap="BaseResultMap" parameterType="Object">
    select <include refid="Base_Column_List" /> 
	 from TDP_TASK_CHECK_REQUEST_PROCESS_JOB_INPUT where id = #{id}
  </select>
  
  <!-- 删除记录 -->
  <delete id="deleteByPrimaryKey" parameterType="Object">
    delete 	 from TDP_TASK_CHECK_REQUEST_PROCESS_JOB_INPUT where id = #{id}
  </delete>

  <!-- 请求文件检查任务 列表总数-->
  <select id="queryByCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from TDP_TASK_CHECK_REQUEST_PROCESS_JOB_INPUT 
	<include refid="Base_Where_Clause"/>
  </select>
  	
  <!-- 查询请求文件检查任务列表 -->
  <select id="queryByList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from TDP_TASK_CHECK_REQUEST_PROCESS_JOB_INPUT 
	<include refid="Base_Where_Clause"/>
	<if test="pager.orderCondition != null and pager.orderCondition != ''" >
       ${pager.orderCondition}
    </if>
    <if test="pager.mysqlQueryCondition != null and pager.mysqlQueryCondition != ''" >
       ${pager.mysqlQueryCondition}
    </if>
  </select>
  
  <select id="queryAll" resultMap="BaseResultMap">
	select 
	<include refid="Base_Column_List"/>
	from TDP_TASK_CHECK_REQUEST_PROCESS_JOB_INPUT 
  </select>
  
</mapper>   
