<div class="dialog">
	<form data-attach-point="editForm" class="ui-form" method="post">  
		<input type="hidden" name="id">
		<div class="ui-edit">
			<div class="fitem">
				<label>名称：</label>
				<input name="name"  size="44"  type="text" maxlength="40" class="easyui-validatebox" data-options="required:true" missingMessage="请填写名称">
				<span class="required">*</span>		
			</div>
			<div class="fitem">
				<label>代码：</label>
				<input name="code"  size="44"  type="text" maxlength="40" class="easyui-validatebox" data-options="required:true" missingMessage="请填写代码">
				<span class="required">*</span>		
			</div>
			<div class="fitem">
				<label>文件类型：</label>
				<input name="fileType"  size="44"  type="text" maxlength="40" class="easyui-validatebox" data-options="required:true" missingMessage="请填写文件类型">
				<span class="required">*</span>		
			</div>
			<div class="fitem">
				<label>偏移行：</label>
				<input name="offsetRow"  size="44"  type="text" maxlength="11" class="easyui-validatebox" data-options="" missingMessage="请填写偏移行">
			</div>
			<div class="fitem">
				<label>分隔符：</label>
				<input name="separatorChar"  size="44"  type="text" maxlength="2" class="easyui-validatebox" data-options="" missingMessage="请填写分隔符">
			</div>
			<div class="fitem">
				<label>文件解析处理类名：</label>
				<!-- <input name="processClassName"  size="44" type="text" maxlength="256" class="easyui-validatebox" data-options="" missingMessage="请填写文件解析处理类名"> -->
				<textarea  name="processClassName" rows="2" cols="45" maxlength="255" class="easyui-validatebox"></textarea>
			</div>
			<div class="fitem">
				<label>目标类型：</label>
				<input name="toType"  size="44"  type="text" maxlength="" class="easyui-validatebox" data-options="" missingMessage="请填写目标类型">
							</div>
			<div class="fitem">
				<label>目标表：</label>
				<input name="toTable"  size="44"  type="text" maxlength="32" class="easyui-validatebox" data-options="required:true" missingMessage="请填写目标表">
				<span class="required">*</span>
							</div>
			<!-- <div class="fitem">
				<label>扩展属性：</label>
				<input name="attr1" type="text" maxlength="256" class="easyui-validatebox" data-options="" missingMessage="请填写扩展属性">
							</div>
			<div class="fitem">
				<label>扩展属性：</label>
				<input name="attr2" type="text" maxlength="256" class="easyui-validatebox" data-options="" missingMessage="请填写扩展属性">
							</div>
			<div class="fitem">
				<label>扩展属性：</label>
				<input name="attr3" type="text" maxlength="256" class="easyui-validatebox" data-options="" missingMessage="请填写扩展属性">
							</div>
			<div class="fitem">
				<label>扩展属性：</label>
				<input name="attr4" type="text" maxlength="256" class="easyui-validatebox" data-options="" missingMessage="请填写扩展属性">
							</div>
			<div class="fitem">
				<label>扩展属性：</label>
				<input name="attr5" type="text" maxlength="256" class="easyui-validatebox" data-options="" missingMessage="请填写扩展属性">
							</div>
			<div class="fitem">
				<label>扩展属性：</label>
				<input name="attr6" type="text" maxlength="256" class="easyui-validatebox" data-options="" missingMessage="请填写扩展属性">
							</div> -->
		</div>
	</form>
</div>