<div class="dialog two-column">
	<form data-attach-point="editForm" class="ui-form" method="post">
		<input type="hidden" name="id" />
		<div class="ui-edit">
			<div class="fitem">
				<label>Hadoop任务Id：</label>
				<input name="jobId" type="text" maxlength="40" class="easyui-validatebox" data-options="required:true" missingMessage="请填写Hadoop任务Id">
				<span class="required">*</span>
			</div>
			<div class="fitem">
				<label>统计标识：</label>
				<input name="id" type="text" maxlength="40" class="easyui-validatebox" data-options="required:true" missingMessage="请填写统计标识">
				<span class="required">*</span>
			</div>
			<div class="fitem">
				<label>任务名:</label>
				<input name="taskName" data-attach-point="taskNameCombobox" type="text" maxlength="40" class="easyui-combobox" data-options="required:true" missingMessage="请填写任务名">
				<span class="required">*</span>
			</div>
			<div class="fitem">
				<label>任务类型:</label>
				<input name="jobType" data-attach-point="jobTypeCombobox" type="text" maxlength="40" class="easyui-combobox" data-options="required:true" missingMessage="请填写任务类型">
				<span class="required">*</span>
			</div>
			<div class="fitem">
				<label>统计数：</label>
				<input name="count" type="text" maxlength="20" class="easyui-validatebox" data-options="required:true" missingMessage="请填写统计数">
				<span class="required">*</span>
			</div>
			<div class="fitem clearfloat">
				<label>备注：</label>
				<textarea data-attach-point="memo" name="memo" cols="85" rows="4"></textarea>
			</div>
		</div>
	</form>
</div>