<div class="dialog">
	<form data-attach-point="editForm" class="ui-form" method="post">
		<input type="hidden" name="id">
		<div class="ui-edit">
			<div class="fitem">
				<label>脚本名称：</label> <input readonly="readonly" size="67" name="scriptName" type="text" maxlength="40" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>脚本代码：</label> <input readonly="readonly" size="67" name="scriptCode" type="text" maxlength="40" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>脚本路径：</label> <input readonly="readonly" size="67" name="scriptPath" type="text" maxlength="256" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>脚本类型：</label> <input readonly="readonly" size="67" name="type" type="text"  maxlength="40" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>运行周期：</label> <input readonly="readonly" size="67" name="scriptInfoInterval" type="text" maxlength="40" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>服务器代码：</label> <input readonly="readonly" size="67" name="serverCode" type="text" maxlength="40" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>子系统代码：</label> <input readonly="readonly" size="67" name="systemCode" type="text" maxlength="40" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>子系统名称：</label> <input readonly="readonly" size="67" name="systemName" type="text" maxlength="60" class="easyui-validatebox">
			</div>
			<div class="fitem">
				<label>备注：</label> <input readonly="readonly" size="67" name="description" type="text" maxlength="256" class="easyui-validatebox">
			</div>
		</div>
	</form>
</div>