<div class="dialog">
	<form data-attach-point="editForm" class="ui-form" method="post">
		<input type="hidden" name="id">
		<div class="ui-edit">
			<div class="fitem">
				<label>solr名称：</label> <input readonly="readonly" size="62" name="solrCollectionName" type="text" maxlength="256" class="easyui-validatebox" data-options="">
			</div>
			<div class="fitem">
				<label>hbase表名：</label> <input readonly="readonly" size="62" name="hbaseTableName" type="text" maxlength="256" class="easyui-validatebox" data-options="">
			</div>
			<!-- 数据库保存数据为空，暂时注释--赵帅兵20141013 -->
			<!-- <div class="fitem">
				<label>状态：</label> <input name="status" type="text" readonly="readonly" size="62" maxlength="" data-attach-point="statusCombobox" class="easyui-combobox">
			</div> -->
			<div class="fitem">
				<label>操作类型：</label> <input readonly="readonly" size="62" name="operatorType" type="text" maxlength=""  data-attach-point="operatorTypeCombobox" class="easyui-combobox">
			</div>
			<div class="fitem">
				<label>错误日期：</label> <input readonly="readonly" size="62" name="errorDate" type="text" maxlength="40" class="easyui-validatebox" >
			</div>
			<div class="fitem">
				<label>异常数：</label> <input readonly="readonly" size="62" name="errorCount" type="text" maxlength="" class="easyui-numberbox" data-options="">
			</div>
		</div>
	</form>
</div>