<div class="dialog">
	<form data-attach-point="passwordForm">
	<table>
		<!-- <tr>
			<td>用户名:</td>
			<td><span data-attach-point="userName"></span></td>
		</tr> -->
		<tr>
			<td><span style="color:red; margin-right: 5px">*</span>原始密码:</td>
			<td><input id="oldPwd" name="oldPassword" class="easyui-validatebox" type="password" data-options="required:true"/></td>
		</tr>
		<tr>
			<td><span style="color:red; margin-right: 5px">*</span>新密码:</td>
			<!-- <td><input id="userPwd1" name="newPwd" class="easyui-validatebox" type="password" data-options="required:true"/></td> -->
			<td>
				<input data-attach-point="newpassword" name="newPassword" validType="length[6, 32]" class="easyui-validatebox" required="true" type="password"/>
			</td>
		</tr>
		<tr>
			<td><span style="color:red; margin-right: 5px">*</span>确认密码:</td>
			<!-- <td><input id="userPwd2" class="easyui-validatebox"type="password" data-options="required:true"> </input></td> -->
			<td>
				<input type="password" name="repassword" data-attach-point="repassword" required="true" class="easyui-validatebox"  validType="equalTo['#password']" />
			</td>
		</tr>
	</table>
	</form>
</div>