<div class="dialog">
	<form data-attach-point="createdicItemForm">
				<div class="criteria-panel" >
					<input name="id" type="hidden" data-attach-point="id"/>
					<input name="parentid" type="hidden" data-attach-point="parentid"/>
					<input name="dicid" type="hidden" data-attach-point="dicid"/>
					<div >
						<label>&nbsp;&nbsp;&nbsp;字典项代码：</label> <input class="easyui-validatebox"
							data-attach-point="ipt_dicItemKey"  name="ipt_dicItemKey"  data-options="required:true" maxlength="60" />
					</div>
					<div >
						<label>&nbsp;&nbsp;&nbsp;字典项名称：</label> <input class="easyui-validatebox"
							data-attach-point="ipt_dicItemValue"  name="ipt_dicItemValue"  data-options="required:true" maxlength="256" />
					</div>
				</div>
	</form>
</div>