<div class="dialog">
	<form data-attach-point="createdicForm">
		<input name="id" type="hidden" data-attach-point="id"/>
				<div class="criteria-panel" >
					<input name="id" type="hidden" data-attach-point="id"/>
					<div >
						<label>&nbsp;&nbsp;&nbsp;字典英文名：</label> <input class="easyui-validatebox"
							data-attach-point="ipt_name"  name="ipt_name"  data-options="required:true" maxlength="128" />
					</div>
					<div >
						<label>&nbsp;字典中文描述：</label> <input class="easyui-validatebox"
							data-attach-point="ipt_description"  name="ipt_description"  data-options="required:true" maxlength="128" />
					</div>
					<div>
						<label>&nbsp;&nbsp;&nbsp;所属子系统：</label> <input class="easyui-combobox" style="width:168px" editable="false"   data-attach-point="ipt_systemName"  name="ipt_systemName">
					</div>
					
				</div>
	</form>
</div>