
<div class="dialog">
	<form data-attach-point="updateBusinessForm">
	<input name="id" type="hidden" data-attach-point="id"> 
    	<table cellspacing="100" cellpadding="100">
    		<tr>
    			<td><span style="color:red; margin-right: 5px"></span>子系统名称：</td>
    			<td><input data-attach-point="name" class="easyui-validatebox" type="text" name="name"   readonly></input></td>
    		</tr>
    		<tr>
    			<td><span style="color:red; margin-right: 5px"></span>子系统英文名：</td>
    			<td><input data-attach-point="code" class="easyui-validatebox" type="text" name="code"  readonly></input></td>
    		</tr>
    		<tr>
    			<td><span style="color:red; margin-right: 5px"></span>描述 ：</td>
    			<td><input data-attach-point="description" class="easyui-validatebox" type="text" name="description" ></input></td>
    		</tr>
    		<tr>
    			<td><span style="color:red; margin-right: 5px"></span>系统首页的URL：</td>
    			<td><input data-attach-point="accessurl" class="easyui-validatebox" type="text" name="accessurl" ></input></td>
    		</tr>
    		<tr>
    			<td><span style="color:red; margin-right: 5px"></span>IP访问的URL：</td>
    			<td><input data-attach-point="serverurl" class="easyui-validatebox" type="text" name="serverurl"></input></td>
    		</tr>
    		
    	</table>
    </form>
</div>