<div class="dialog">
	<!-- <table class="easyui-datagrid"
		data-options="idField:'id',pagination:false,rownumbers:true,fit:true,fitColumns:true,singleSelect:true"
		data-attach-point="chainGrid">
		<thead>
			<tr>
				<th data-options="field:'chainid',hidden:true"></th>
				<th data-options="field:'approverumid',hidden:true"></th>
				<th data-options="field:'index',hidden:true"></th>
				<th data-options="field:'taskname',width:50,sortable:true,halign:'center'">任务名称</th>
				<th data-options="field:'approvername',width:35,sortable:true,halign:'center',formatter:'_approverNameformater'">审批人</th>
			</tr>
		</thead>
	</table>
	 -->
	 
	 <table data-attach-point="chainGrid"></table>
</div>