<div class="dialog">
	<form data-attach-point="editForm" class="ui-form" method="post">  
		<input type="hidden" name="id">
		<div class="ui-edit">
			<div class="fitem">
				<label><span class="required">*</span>客户端名字</label>
				<input name="clientname" type="text" maxlength="32" class="easyui-validatebox" data-options="required:true" missingMessage="请填写客户端名字">
			</div>
			<div class="fitem">
				<label><span class="required">*</span>客户端根目录</label>
				<input name="rootpath" type="text" maxlength="1024" class="easyui-validatebox" data-options="required:true" missingMessage="请填写客户端根目录">
			</div>
			<div class="fitem">
				<label><span class="required">*</span>客户端英文代码</label>
				<input name="code" type="text" maxlength="32" class="easyui-validatebox" data-options="required:true" missingMessage="请填写客户端英文代码">
			</div>
		</div>
	</form>
</div>