<div class="dialog">
	<form data-attach-point="createsysParamForm">
		<input name="sysParam_Id" type="hidden" data-attach-point="sysParam_Id"/>
				<div class="criteria-panel" >
					<div>
						<label>&nbsp;&nbsp;参数英文名：</label> <label data-attach-point="ipt_paramkey"></label>
					</div>
					<div data-attach-point="ipt_paramvalue_Org_div" >
						<label>&nbsp;&nbsp;原始参数值：</label> <input class="easyui-validatebox"
							data-attach-point="ipt_paramvalue_Org"  name="ipt_paramvalue_Org"  data-options="required:true" maxlength="60" />
					</div>
					<div>
						<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;参数值：</label> <input class="easyui-validatebox"
							data-attach-point="ipt_paramvalue"  name="ipt_paramvalue"  data-options="required:true" maxlength="60" />
					</div>
					<div data-attach-point="ipt_paramvalue_Confirm_div" >
						<label>参数值(确认)：</label> <input class="easyui-validatebox"
							data-attach-point="ipt_paramvalue_Confirm"  name="ipt_paramvalue_Confirm"  data-options="required:true" maxlength="60" />
					</div>
						<div>
						<label>&nbsp;&nbsp;&nbsp;&nbsp;是否密码：</label> <label data-attach-point="ipt_pw" ></label>
					</div>
					<div>
						<label>&nbsp;&nbsp;所属子系统：</label> <input class="easyui-combobox"  editable="false"   data-attach-point="ipt_systemName"  name="ipt_systemName">
					</div>
					<div>
						<label>&nbsp;&nbsp;&nbsp;&nbsp;参数描述：</label> 
						<textarea data-attach-point="ipt_description" name="ipt_description"
							cols="30" rows="4" data-options="validType:['maxLength[200]'],required:true"
							maxlength="200"></textarea>
					</div>
				</div>
	</form>
</div>