<div class="dialog">
	
	<table id="${uuid}_grid" 
		data-options="border:false,striped:true,fitColumns:true,toolbar:'#${uuid}_bar'"
		data-attach-point="dataGrid" style="width: 380px">
		<thead>
			<tr>
				<td ><div>
				<label>接管人姓名：</label><input class="easyui-combogrid" width="300px"  data-options="required:true" data-attach-point="targetuserumid"></input>
				</div></td>
			</tr>
			<tr>
				<td ><div>
				<label>开始时间：</label> <input class="easyui-datebox" data-options="editable:false,formatter:app.formatter.formatTime,required:true" style="width:132px" data-attach-point="starttime">
				</div></td>
			</tr>
			<tr>
				<td ><div>
				<label>结束时间：</label> <input class="easyui-datebox" data-options="editable:false,formatter:app.formatter.formatTime,required:true" style="width:132px" data-attach-point="endtime">
				</div></td>
			</tr>
			
		</thead>
	</table>
	
</div>

