<div class="datagrid-toolbar-tool"></div>
<div class="datagrid-toolbar-filter" style="display: none;">
	<div class="criteria-panel">
		<form data-attach-point="searchForm">
			<div class="fitem">
				<label>任务号</label> <input name="taskCode" type="text" maxlength="" class="easyui-validatebox" data-attach-point="taskCode">
			</div>
			<div class="fitem">
				<label>任务名称</label> <input name="taskName" type="text" maxlength="" class="easyui-validatebox" data-attach-point="taskName" >
			</div>
			<div class="fitem">
				<label>合作伙伴全称</label> <input name="partnerFullName" type="text" maxlength="" class="easyui-validatebox" data-attach-point="partnerFullName">
			</div>
			<div class="fitem">
				<label>类型</label> <input name="type" type="text" maxlength="" class="easyui-validatebox" data-attach-point="type">
			</div>
			<div class="fitem">
				<label>文件名称</label> <input name="fileName" type="text" maxlength="" class="easyui-validatebox" data-attach-point="fileName">
			</div>
			<div class="fitem">
				<label>DMP ID</label> <input name="refDmpId" type="text" maxlength="" class="easyui-validatebox" data-attach-point="refDmpId">
			</div>
			<div class="fitem">
				<label>Cloud ID</label> <input name="refCloudId" type="text" maxlength="" class="easyui-validatebox" data-attach-point="refCloudId">
			</div>
		</form>
	</div>
</div>