<table id="${uuid}_grid"  class="easyui-datagrid"
	data-options="nowrap:false,border:false,striped:true,singleSelect:true,fit:true,fitColumns:true,pagination:true,toolbar:'#${uuid}_bar'"
	data-attach-point="dataGrid">
	<thead>
		<tr>
			<th data-options="field:'id',hidden:true"></th>
			<th data-options="field:'code',width:14,align:'left'">服务器代码</th>
			<th data-options="field:'name',width:14,align:'left'">服务器名</th>
			<th data-options="field:'mailhost',width:8,align:'left'">主机</th>
			<th data-options="field:'smtpport',width:6,align:'left'">端口 </th>
			<th data-options="field:'usessl',width:6,align:'left',formatter:app.formatter.formatUserSsl">加密 </th>
			<th data-options="field:'user',width:14,align:'left'">用户名 </th>
			<th data-options="field:'systemcode',hidden:true">所属子系统CODE</th>
			<th data-options="field:'systemName',width:8,align:'left'">所属子系统</th>
		</tr>
	</thead>
</table>
<div id="${uuid}_bar" class="app-mailServerConfigManageSearchBar"
	data-options="grid:'#${uuid}_grid'" data-attach-point="searchBar"
	data-attach-event="mailserverconfigmanagesearchbaraction:_doAction"></div>