<table id="${uuid}_grid"  class="easyui-datagrid"
	data-options="nowrap:false,border:false,striped:true,singleSelect:true,fit:true,fitColumns:true,pagination:true,toolbar:'#${uuid}_bar'"
	data-attach-point="dataGrid">
	<thead>  
			<tr>  	
				<th data-options="field:'templateName',width:10,align:'center'">模板名称</th>
				<th data-options="field:'fatherPIName',width:15,align:'center'">父流程名</th>
				<th data-options="field:'templatetype',width:8,align:'center',formatter:'_formaterTemplateType'">模板类型</th>
				<th data-options="field:'starttime',width:15,align:'center',formatter:app.formatter.formatTimeStamp1">启动时间</th>
				<th data-options="field:'endtime',width:15,align:'center',formatter:app.formatter.formatTimeStamp1">结束时间</th>
				<th data-options="field:'startername',align:'center',width:10">启动者姓名</th>
				<th data-options="field:'title',align:'center',width:14">审批标题</th>
				<th data-options="field:'content',align:'center',width:24">内容</th>
				<th data-options="field:'statusName',align:'center',width:13">状态</th>
		    </tr>
	</thead>
</table>
<div id="${uuid}_bar" class="app-showOaInstanceListSearchBar"
	data-options="grid:'#${uuid}_grid'" data-attach-point="searchBar"
	data-attach-event="showoainstancelistsearchbaraction:_doAction"></div>