<div class="form-module two-column">
	<form data-attach-point="editForm" class="ui-form" method="post">
		<input type="hidden" name="id" data-attach-point="idSpan">
		<div class="ui-edit">
			<div class="fitem">
				<label>全称：</label> <span data-attach-point="partnerFullNameSpan"></span>
			</div>
			<div class="fitem">
				<label>类型：</label> <span data-attach-point="typeSpan"></span>
			</div>
			<div class="fitem">
				<label>文件名：</label> <span data-attach-point="fileNameSpan"></span>
			</div>
			<div class="fitem">
				<label>文件路径：</label> <span data-attach-point="filePathSpan"></span>
			</div>
			<div class="fitem">
				<label>DMP ID：</label> <span data-attach-point="refDmpIdSpan"></span>
			</div>
			<div class="fitem">
				<label>Cloud Id：</label> <span data-attach-point="refCloudIdSpan"></span>
			</div>
		</div>
	</form>
</div>